@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --font-main: 'ProximaNova', Arial, Tahoma, sans-serif;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --text-color: rgba(var(--text-rgb), 1);
    --text-rgb: 22, 24, 35;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-color: var(--white);
    overflow-y: overlay;
    overflow-x: hidden;
}

// css srollbar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(var(--text-rgb), 0.08);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline-style: none;
    border: 0;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts embedded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

// customer tippy tooltip
body .tippy-box {
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 8px;
}
body .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

li {
    list-style-type: none;
}
