.wrapper {
    //header
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--white);
    padding: 0 16px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo {
    display: flex;
    cursor: pointer;
}

.wrapper-normal-info {
    width: 16px;
    height: 16px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.normal-info {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(22, 24, 35, 0.34);
}

.actions {
    display: flex;
    align-items: center;
}

.menu {
    max-width: 28px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
    min-width: unset;
    background-color: transparent;
    padding: 6px 10px;
    font-size: 20px;
}

.actions-icon {
    min-width: 36px;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    margin: 0 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 36px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 40px;
}

// inbox
.box-msg {
    position: relative;
}

.box-noti {
    position: absolute;
    background: red;
    top: -2px;
    right: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
}

.count-noti {
    font-size: 13px;
    color: var(--white);
    font-weight: 600;
}
